# infra/terraform/.terraform
# infra/terraform/.terraform/*
# infra/terraform/.terraform.lock.hcl

# Local .terraform directories
**/*.terraform/*
**/*.terraform.lock.hcl*/*

# .tfstate files
**/*.tfstate/*
**/*.tfstate.*/*
**/scripts/ansible*
**/scripts/etchosts*
**/infra/terraform/errored.tfstate

# Crash log files
crash.log
nohup.out

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
#infra/terraform/terraform.auto.tfvars
